/*-- PRINCIPAL --*/

*{
    box-sizing: border-box;
    margin-top: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-image:url("../img/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*-- FORMULARI --*/

div.formulari{

    width: 50%;
    position: absolute;
    top: 50%;
    margin-left: 25%;
    transform: translateY(-50%);
    padding:4%;
    text-align: center;
    overflow: auto;

    font-weight: bold;
    background-color:#fffdf1;
    border-radius: 20px 20px 20px 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 10px 100px #000000;
}

div.formulari h3{
    font-size: 220%;
    text-align: center;
    clear: left;
    margin-top: 10%;
}



/*--- BOTO GUARDAR ---*/

.boto, .boto3 {

    border-style: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    cursor: pointer;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    overflow: auto;
    
  }
  

/*-- hover --*/

.boto:hover, .boto3:hover {
box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
transition-duration: .1s;
}


/*-- anim tamany --*/
  
@media (min-width: 768px) {
.boto, .boto3 {
    padding: 0 2.6rem;
}
}

