/*-- PRINCIPAL --*/

*{
    box-sizing: border-box;
    margin-top: 0%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-image:url("../img/bg_img\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
}


/* ------- XAT ------- */
/* ------- TODOS LOS CONTACTO ------- */
div.contactos{
    background-color: #783fb0;
    width: 25%;
    padding: 1%;
    float: left;
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    /* box-shadow: 1px 10px 40px #ffffffa4; */
    height: 100%;
}

/* ------- EL USUARIO ------- */
div.tu{
    background-color:#fffdf1;
    /* box-shadow: 5px 30px 60px #000000; */
    float: left;
    width: 100%;
    margin-bottom: 15%;
    padding: 3%;
    margin-left: 0%;
}

div.tu:hover{
    background-color:#9e40b7;
}

div.tu img {
    padding: 2%;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

div.tu label{
    padding: 2%;
    float: left;
    font-weight:bolder;
    color: black;
    clear: right;

}

/* ------- CADA CONTACTO ------- */
div.Conct {
    background-color:#fffdf1;
    /* box-shadow: 5px 30px 60px #000000; */
    border-radius: 10px 10px 10px 10px;
    float: left;
    width: 90%;
    margin-bottom: 3.9%;
    padding: 3%;
    margin-left: 5%;
}

div.Conct:hover{
    background-color:#bd9cec ;
}

div.Conct img {
    padding: 2%;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

div.Conct label{
    padding: 2%;
    float: left;
}

/* ------- XAT ------- */
div.xat {
    width: 60%;
    height: 94.4%;
    margin: auto;
    margin-top: 1%;
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
    /* border: 1px solid #450d92; */
    /* box-shadow: 0px 10px 55px #ffffffa4; */
}

div.xat .encapcalat {
    background-color:#693aac;
    width: 100%;
    height: 80px;
    color: white;
}

div.xat .encapcalat img{
    padding: 1%;
    width: 70px;
    height: 70px;
    border-radius: 150px;
    float: left;
    margin-top: 0.5%;
    margin-left: 2%;
}

div.xat .encapcalat label{
    margin-top: 2%;
    float: left;
    font-size:1.5vw;
    font-weight: bold;
    margin-left: 2%;
}

div.xat .conversa {
    background-color:#fffdf1;
    width: 100%;
    height: 30.7vw;
    padding: 2%;
    /* border: 2px solid black; */
    /* border-radius: 5px 5px 5px 5px; */
    float: left;
    overflow: auto;
}

div.xat .conversa .rebut{
    background-color:#cdb4f0;
    width: 40%;
    height: 13%;
    padding: 2%;
    /* border: 1px solid #450d92; */
    border-radius: 5px;
    box-shadow: -15px 25px 35px #9b9b9b;

}

div.xat .conversa .enviat{
    background-color:#9669d4;
    width: 40%;
    height: 13%;
    padding: 2%;
    /* border: 1px solid #450d92; */
    border-radius: 5px;
    margin-left: 60%;
    box-shadow: 15px 25px 35px #9b9b9b;
}

div.xat .missatge {
    float: left;
    width: 100%;
    background-color:#693aac;
    padding: 1.4%;
}

div.xat .missatge input{
    width: 100%;
    float: left;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    margin-left: 3%;
    height: 30px;
    width: 80%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------- BOTO GUARDAR ------- */
.boto {
    margin-left: 2%;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  }